/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* BODY */
body {
    background: linear-gradient(135deg, #8d8d54, #484639, #8d8d54);
    color: #f1f1f1;
    padding: 20px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.about {
    width: 60%;
}

.about h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: #0b0b0b;
}

.about p {
    line-height: 1.6;
    color: #dcdcdc;
}

/* PROFILE */
.profile {
    text-align: center;
}

.profile img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #e8eded;
    margin-bottom: 10px;
}

.profile h2 {
    margin-top: 10px;
}

.profile span {
    font-size: 0.9rem;
    color: #bbbbbb;
}

/* CARD SECTIONS */
.card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 25px;
}

.card h2 {
    margin-bottom: 15px;
    color: #151515;
}

.card ul {
    list-style: none;
}

.card ul li {
    margin-bottom: 8px;
}

/* SKILLS */
.skills li {
    display: inline-block;
    background: #ccf6ef;
    color: #000;
    padding: 6px 14px;
    border-radius: 20px;
    margin: 5px;
    font-size: 0.9rem;
}

/* LINKS */
a {
    color: #afd49d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* FOOTER */
.footer {
    text-align: center;
    margin-top: 40px;
}

.credit {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #aaaaaa;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .about {
        width: 100%;
        margin-bottom: 20px;
    }
}
#social{
    height: 100px;
    width: 100px;
    text-align: center;
}
a{
    margin-right: 5px;
   
}