img{
    border-radius: 50%;
    display: inline;
    margin-left: 80%;
}
div{
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 200px;
    margin-left: 80%;
    

}
li{
    display: inline;
    margin-left: 5%;
}